@model TAST_Store.ViewModels.CartViewModel
<div class="alert alert-success">
    Bạn vừa hoàn thành thanh toán đơn hàng. Vui lòng đợi nhân viên gọi đến xác nhận đơn hàng. TAST Store xin cảm ơn <3
</div>
