<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAST STORE</title>
    <meta name="keywords" content="Áo thun nam, Áo thun nữ, Quần nam, Quần nữ, Áo unisex" />
    <meta name="description" content="Website chuyên bán quần áo nam lẫn nữ - TAST" />
    <meta name="copyright" content="TAST Store" />
    <meta name="author" content="TAST Store" />
    <link rel="shortcut icon" href="~/images/tast-logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <a href="trang-chu"><img src="~/images/tast-logo.png" width="500" height="100" /></a>
            </div>

            <div class="container">
                @await Html.PartialAsync("_MenuPartial")
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>



    

    
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
